<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration>
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <param name="Threshold" value="DEBUG" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n" />
        </layout>
    </appender>
 
    
    <appender name="default.file" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/tmp/fhc/logs/application.log" />
        <param name="datePattern" value="'.'yyyy-MM-dd" />
        <param name="append" value="false" />
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] - %m%n" />
        </layout>
    </appender>
 
    <!-- Insert your own base-package HERE! -->
    <logger name="org.puyallupfamilyhistorycenter">
        <level value="DEBUG" />
    </logger>
    <root>
        <priority value="WARN" />
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="default.file" />
    </root>
</log4j:configuration>